<div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-4 mx-auto myForm">
        <ul class="nav nav-pills d-flex justify-content-center">
          <li class="nav-item">
            <a
              href="#"
              [ngClass]="loginMode ? 'SelectedItem' : ''"
              class="nav-link"
              (click)="onAuthNavClick(true, $event)"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a
              href="#"
              [ngClass]="!loginMode ? 'SelectedItem' : ''"
              class="nav-link"
              (click)="onAuthNavClick(false, $event)"
              >Register</a
            >
          </li>
        </ul>
        <form
          class="mt-4"
          *ngIf="loginMode"
          #login="ngForm"
          (ngSubmit)="onLoginFormSubmit(login)"
        >
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              ngModel
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              ngModel
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <form
          *ngIf="!loginMode"
          class="mt-4"
          #reg="ngForm"
          (ngSubmit)="onRegisterFormSubmit(reg, pwdControl)"
        >
          <div class="form-floating mb-3">
            <input
              type="email"
              id="email"
              class="form-control"
              placeholder="Email"
              name="email"
              email
              required
              ngModel
            />
            <label for="email">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input
              id="password"
              type="password"
              class="form-control"
              placeholder="Password"
              name="password"
              required
              minlength="5"
              ngModel
              #pwdControl
            />
            <label for="password">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              id="re-pwd"
              class="form-control mb-3"
              placeholder="Re-Enter Password"
              name="re-pwd"
              required
              minlength="5"
              [(ngModel)]="rePwdVar"
              #rePwd="ngModel"
              [appPwdMatchValidator]="pwdControl"
            />
            <label for="re-pwd">Re-Enter Password</label>
            <div
              *ngIf="rePwd.invalid && (rePwd.dirty || rePwd.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="!rePwd.errors?.['matching'].value">
                Passwords doesn't match
              </div>
              <div *ngIf="rePwd.errors?.['minlength']">Password too short</div>
            </div>
          </div>
          <button class="btn btn-primary" [disabled]="!reg.valid">
            Submit
          </button>
          <button class="btn btn-info ms-3" (click)="reg.reset()">Reset</button>
        </form>
      </div>
    </div>
  </div>
</div>
